Makefile
Makefile.in
acinclude.m4
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*~
*.lo
*.la
/build
autom4te.cache/
m4/
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/*.dox.h
src/qc_*.cpp
src/ql_*.cpp
src/QC_*.cpp

# ignore tmp doc files
docs/*.tag
docs/DataStreamClient/
docs/DataStreamRequestHandler/
docs/DataStreamUtil/
docs/YamlRpcClient/
docs/YamlRpcHandler/
docs/doxyfile
docs/mainpage.doxygen
*.dox.h
Doxyfile.*
docs/yaml/
